*{
    margin: 0px;
    padding:  0px;
    box-sizing: border-box;
}
#title{
    text-align: center;
    background-color:  pink;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
#menu{
    background-color: #f5c6ce47;
    font-family: 'Berkshire Swash', cursive;

}
.list{
    display: flex;
    flex-wrap: wrap;
    
    
}
.list_con{
    width: 20%;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.top{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.top>i{
    font-size: 30px;
}
.bottom{
    display: flex;
}
.right{
    width: 50%;
    text-align: right;
}

.list_con>h1{
    display: block;
}